# Minimal / trimmed _config.yml for otsecverse (Project Site)

theme: jekyll-theme-chirpy
lang: en
timezone: Asia/Kolkata

title: otsecverse
tagline: "In Cyber's Illusion, Lies Truth. In the illusion, lies the intent."
description: >-
  CyberMaya, where we delve deep into the digital realm's illusions and truths.

# Site URL (no trailing slash)
url: "https://otsecverse.github.io"

# Required for GitHub PROJECT PAGES
baseurl: "/OTSecVerse2"

github:
  username: otsecverse

social:
  name: Abhishek Pandey
  links:
    - https://github.com/otsecverse

analytics:
  google:
    id: G-W7YHHX9S8E

pwa:
  enabled: true
  cache:
    enabled: true

paginate: 15

avatar: "/assets/images/OTSecVerse.png"
toc: true

kramdown:
  footnote_backlink: "&#8617;&#xfe0e;"
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    css_class: highlight
    span:
      line_numbers: false
    block:
      line_numbers: true
      start_line: 1

collections:
  tabs:
    output: true
    sort_by: order

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      comments: true
      toc: true
      permalink: /posts/:title/
  - scope:
      path: _drafts
    values:
      comments: false
  - scope:
      path: ""
      type: tabs
    values:
      layout: page
      permalink: /:title/

sass:
  style: compressed

compress_html:
  clippings: all
  comments: all
  endings: all
  profile: false
  blanklines: false
  ignore:
    envs: [development]

exclude:
  - "*.gem"
  - "*.gemspec"
  - docs
  - tools
  - README.md
  - LICENSE
  - "*.config.js"
  - package*.json
  - "*.bak"

jekyll-archives:
  enabled: [categories, tags]
  layouts:
    category: category
    tag: tag
  permalinks:
    tag: /tags/:name/
    category: /categories/:name/
